﻿@{
    ViewBag.Title = "MyDoctorOffice";
}

<div class="jumbotron">
    <h1>MyDoctorOffice</h1>
    <p class="lead"> Welcome to my Doctor Office App - your health portal solution!  </p>
    <p>Please login as a patient or office user now!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>