﻿
@model  List<MyDoctorOffice.Models.PatientModel>

@{
    ViewBag.Title = "Office User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
        padding-top: 100px;
    }

    .modal {
        background-color: white;
        padding-top: 100px;
    }

    .modal-backdrop.in {
        /*opacity: 0.5;*/
    }
    

</style>
<h2>Patients</h2>
<div class="table-responsive">
    <table class="table">
        <th>Id</th>
        <th>Full Name</th>
        <th>Birthdate</th>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PatientId</td>
                    <td>@Html.ActionLink(@item.FullName, "PatientDetail", "OfficeUser", new{ patientId = @item.PatientId }, new { @class = "patientDetailButton"})  </td>
                    <td>@item.Birthdate.ToShortDateString()</td>
                </tr>
            }
    </table>
</div>
<div id="modal-container" class="modal fade"
     tabindex="-1" role="dialog"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


