﻿@model MyDoctorOffice.Models.PatientModel

<div class="modal-body">
    <div class="container">
        <div class="row">
            <ul class="list-unstyled">
                <li>@Model.PatientId</li>
                <li>@Model.FullName</li>
                <li>@Model.Birthdate.ToShortDateString()</li>
                <li>@Model.EmailAddress</li>
                <li>@Model.PhoneNumber</li>
                <li>@Model.ReasonForVisit</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button type="submit" id="approve-btn"
                        class="btn btn-info" data-dismiss="modal">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
